@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: SFMono;
    src: url("SFMonoFont/SFMono-Light.otf") format("opentype");
}

@font-face {
    font-family: SFBold;
    src: url("SFMonoFont/SFMono-Bold.otf") format("opentype");
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: InterVariable, sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    transition: all 1s linear;
}

body.light-mode {
    color: #022954;
    background-color: #e2e8f0;
    transition: all 1s linear;
}

nav {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 13px;
    position: fixed;
    top: 0;
    transition: top 0.3s linear;
    z-index: 1;
}

  
.hidden {
    overflow: hidden;
}

.margin-x {
    margin-left: 18px;
    margin-right: 18px;
}

.hamburger {
    display: none;
    background-color: transparent;
    border: none;
    cursor:pointer;
}
  
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #e2e8f0;
    border-radius:6px;
}

.hamburger:hover .bar {
    background-color: #63ace5;
}

body.light-mode .bar {
    background-color: #112c71;
}

body.light-mode .hamburger:hover .bar {
    background-color: #0077b6;;
}

nav ul {
    list-style: none;
    display: flex;
}
  
.nav-links {
    color: #ccd6f6;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-family: SFMono, sans-serif;
}

nav a {
    text-decoration: none;
    color: #e2e8f0;;
}

body.light-mode nav a {
    color: #022954;
}

body.light-mode .nav-links {
    color: #2a4d69;
}
  
.nav-links:hover, nav a:hover {
    color: #63ace5;
}

body.light-mode .nav-links:hover, body.light-mode nav a:hover {
    color: #0077b6;
}

ul li a span {
    color: #63ace5;
    padding-right: 5px;
}

body.light-mode ul li a span {
    color: #0077b6;
}

h2 {
    font-family: SFMono, sans-serif;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #112c71, #0f172a);
    z-index: -1;
    opacity: 1;
    transition: opacity 1s linear;

    &::before {
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        background: radial-gradient(circle at top left, #413fad 30%, #4ca2a7 110%);
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        left: -20%;
        top: -20%;
        filter: blur(150px);
        animation: blobify 7s ease-in-out 0s infinite;
    }

    &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        background: radial-gradient(circle at bottom right, #4ca2a7, #413fad 90%);
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        right: -15%;
        bottom: -30%;
        filter: blur(150px);
        animation: blobify 10s ease-in-out 0s infinite;
    }
}

body .background-light {
    opacity: 0;
    transition: opacity 1s linear;
}

#intro div{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    height: 100svh;
    padding: 0px;
    width: 50%;
}

#intro {
    display: flex;
    justify-content: center;
}

#intro h4, p {
    margin: 15px 0px 0px;
    max-width: 640px;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #ccd6f6;
    transition: all 1s linear;
}

#intro h3 {
    font-size: clamp(14px,5vw,16px);
    font-family: SFMono, sans-serif;
    margin-bottom: 30px;
    color: #63ace5;
    transition: color 1s linear;
}

#intro h1 {
    font-size: clamp(40px, 8vw, 80px);
    line-height: 1.1;
}

#intro div h1:nth-child(3) {
    color: #ccd6f6;
    transition: color 1s linear;
}

body.light-mode #intro div h1:nth-child(3), body.light-mode #intro h4, body.light-mode p, body.light-mode #skillsLists li {
    color: #2a4d69;
    transition: color 1s linear;
}

#intro a {
    color: #63ace5;
    background-color: transparent;
    border: 1px solid #63ace5;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: SFMono, sans-serif;
    line-height: 1;
    text-decoration: none;
    transition: all 0.3s linear;
    margin-top: 50px;
}

body.light-mode #intro a  {
    color: #0077b6;
    border: 1px solid #0077b6;
}

#intro a:hover {
    background-color: #63ace5;
    color: #e2e8f0;
    box-shadow: 5px 5px 0px 0px rgba(226,232,240,1);
    transition: all 0.3s linear;
}

body.light-mode #intro a:hover  {
    color: #e2e8f0;
    transition: all 0.3s linear;
}

b, #about a {
    color: #63ace5;
    transition: color 1s linear, text-decoration-color 0.3s linear;
    text-decoration: underline;
    text-decoration-color: transparent;
    font-weight: bold;
}

#about a:hover, body.light-mode #about a:hover {
    text-decoration-color: #63ace5;
    transition: text-decoration-color 0.3s linear;
}

body.light-mode b, body.light-mode #intro h3, body.light-mode #about a {
    color: #0077b6;
    transition: color 1s linear, text-decoration-color 0.3s linear;;
}

footer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 13px;
    position: fixed;
    bottom: 0;
    transition: bottom 0.3s linear;
    z-index: 1;
}

#social-icons img {
    width: 24px;
    height: 24px;
    filter: invert(90%) sepia(96%) saturate(6574%) hue-rotate(178deg) brightness(100%) contrast(94%);
    /* arriba | derecha | abajo | izquierda */
    margin: 2px 16px 0 0;
    padding: 0 2px 0 0;
}

body.light-mode #social-icons img {
    filter: invert(8%) sepia(63%) saturate(3614%) hue-rotate(201deg) brightness(99%) contrast(98%);
}

#social-icons a {
    text-decoration: none;
}

:root {
    --darkmode-toggle-size: 24px;
}

.darkmode-toggle-wrapper {
    --darkmode-toggle-height: var(--darkmode-toggle-size);
    --darkmode-toggle-width: calc(var(--darkmode-toggle-height) * 2);
    position: relative;
    background: #ccd6f6;;
    width: var(--darkmode-toggle-width);
    height: var(--darkmode-toggle-height);
    border-radius: calc(var(--darkmode-toggle-height) / 2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1px 0 1px 0;
}

body.light-mode .darkmode-toggle-wrapper {
    background: #022954;
}
  
.darkmode-toggle-checkbox {
    opacity: 0;
    height: var(--darkmode-toggle-height);
    width: var(--darkmode-toggle-width);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}
  
.darkmode-toggle-circle {
    position: absolute;
    top: 1px;
    left: 1px;
    right: calc(var(--darkmode-toggle-width) / 2);
    height: var(--darkmode-toggle-height);
    width: calc(var(--darkmode-toggle-width) / 2);
    border-radius: 50%;
    background: #e2e8f0;
    border: 2px solid #63ace5;
    box-sizing: border-box;
    box-shadow: 0 0 calc(var(--darkmode-toggle-width) / 10) #63ace5;
    transition: 0.1s ease-in;
    z-index: 1;
}
  
.darkmode-toggle-checkbox:checked + .darkmode-toggle-circle {
    left: calc(var(--darkmode-toggle-width) / 2 - 1px);
    right: 0;
}

.darkmode-toggle-emoji {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.darkmode-toggle-emoji img {
    width: 18px;
    line-height: 0;
   filter: invert(14%) sepia(45%) saturate(3321%) hue-rotate(213deg) brightness(90%) contrast(100%);
} 

body.light-mode .darkmode-toggle-emoji img {
    filter: invert(97%) sepia(6%) saturate(806%) hue-rotate(181deg) brightness(96%) contrast(96%);
}


.darkmode-toggle-wrapper :nth-child(3) :nth-child(1){
    position: relative;
    left: 1px;
} 

.darkmode-toggle-wrapper :nth-child(4) :nth-child(1) {
    position: relative;
    right: 1px;
} 

#about div{
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 0 5% 10% 5%;
}

#about {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#about img {
    max-width: 300px;
    height: 100%;
    border-radius: 4px;
    margin-right: 5%;
    border: 2px solid #63ace5;
    transition: all 0.3s linear;
}

#about img:hover {
    box-shadow: 10px 10px 0px 0px rgba(226,232,240,1);
    transition: all 0.3s linear;
}


#about h1 {
    font-size: clamp(20px, 8vw, 40px);
    line-height: 1.1;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #63ace5;
    border: 1px solid #63ace5;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.workWrapper {
    max-width: 95%;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    padding: 10px;
    z-index: 0;
    margin: 0 0 2.5% 0;
}

.workWrapper .imageWorkWrapper {
    max-width: 30%;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.workWrapper .imageWork {
    max-width: 100%;
    object-fit: cover;
}

.infoWrapper {
    padding:  0 3% 0 3%;
    max-width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #e2e8f0;
}

.infoWrapper .titleWork {
    flex-direction: column;
    justify-content: start;
    text-align: left;
    margin-bottom: 15px;
}

.infoWrapper ul {
    list-style-type: none;
    font-size: 13px;
    font-family: SFMono, sans-serif;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.infoWrapper .toolsAndLinks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.infoWrapper ul li {
    margin: 0 5px 5px 0;
    line-height: 1.25rem;
    background-color: #0f172a;
    color: #adcbe3;;
    border-radius: 9999px;
    padding: 4px 12px;
    height: 20px;
    transition: all 0.3s linear;
}

.infoWrapper ul li:hover, .infoWrapper h2 span:hover {
    color: #63ace5;
    transition: all 0.3s linear;
}

body.light-mode .infoWrapper h2 span:hover {
    color: #0077b6;
    transition: all 0.3s linear;
}

.infoWrapper .externalLinks {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.infoWrapper h2 {
    font-size: clamp(24px, 5vw, 28px);
    font-family: InterVariable, sans-serif;
    transition: all 1s linear;
}

body.light-mode .infoWrapper h2 {
    color: #022954;
    transition: all 1s linear;
}


.infoWrapper h2 span {
    color: #0f172a;
    transition: all 0.3s linear;
    margin-left: 1%;
}

.infoWrapper h4 {
    transition: all 1s linear;
    color: #adcbe3;
}

body.light-mode .infoWrapper h4 {
    color: #2a4d69;
    transition: all 1s linear;
}

.infoWrapper p {
    margin: 0;
    text-align: justify;
    margin-bottom: 15px;
    max-width: 100%;
}

.infoWrapper a img{
    width: 24px;
    filter: invert(6%) sepia(27%) saturate(3551%) hue-rotate(203deg) brightness(91%) contrast(94%);
    margin-left: 5px;
    transition: all 0.3s linear;
}

.infoWrapper a img:hover {
    filter: invert(57%) sepia(98%) saturate(278%) hue-rotate(168deg) brightness(95%) contrast(88%);
    transition: all 0.3s linear;
}

body.light-mode .infoWrapper a img:hover {
    filter: invert(31%) sepia(80%) saturate(986%) hue-rotate(168deg) brightness(101%) contrast(106%);
    transition: all 0.3s linear;
}

#worksWrapper, #tablesWrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.tableWrapper {
    max-width: 95%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    z-index: 0;
    margin: 0 0 2.5% 0;
    padding: 10px
}

.tableWrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableWrapper div :nth-child(1){
    padding: 0 2.5% 0 0;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.28);
    border-style: none solid none none;
    font-family: 'SFMono', sans-serif;
    text-align: center;
    width: 60%;
}

.tableWrapper div :nth-child(2){
    padding: 0 2.5% 0 2.5%;
    text-align: center;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.28);
    border-style: none solid none none;
    color: #0f172a;
    width: 20%;
}

.tableWrapper div :nth-child(3) {
    padding: 0 0 0 2.5%;
    font-weight: 200;
    text-align: center;
    width: 20%;
}

.tableWrapper h4 {
    font-size: 15px;
}

#skillsLists {
    display: flex;
    max-width: 900px;
    font-size: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

#skillsLists div {
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 25px 25px 25px;
}


#skills, #experience, #projects, #education, #courses {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
    margin-left: 5%;
}

#skills h1, #experience h1, #projects h1, #education h1, #courses h1 {
    font-size: clamp(20px, 8vw, 40px);
    line-height: 1.1;
}

.workTitleWrapper {
    width: 12%;
}

#skills ul {
    list-style-type: none;
}

#skillsLists li {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #ccd6f6;
    font-size: clamp(10px, 8vw, 15px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 1s linear;
}

#skillsLists h2 {
    font-size: 1rem;
    text-transform: uppercase;
}

#skills div {
    display: flex;
}

body.light-mode .background {
    opacity: 0;
}

body.light-mode .background-light {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #e7eff6, #adcbe3);
    z-index: -2;
    opacity: 1;

    &::before {
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        background: radial-gradient(circle at top left, #adcbe3  30%, #63ace5 110%);
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        left: -20%;
        top: -20%;
        filter: blur(150px);
        animation: blobify 7s ease-in-out 0s infinite;
    }

    &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        background: radial-gradient(circle at bottom right, #63ace5, #adcbe3  90%);
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        right: -15%;
        bottom: -30%;
        filter: blur(150px);
        animation: blobify 10s ease-in-out 0s infinite;
    }
    
}

.no-scroll {
    overflow-y: hidden;
}

@keyframes blobify {
    0% {
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        transform: translateX(0) translateY(0) scale(1);
    }

    50% {
        border-radius: 30% 70% 70% 30% / 40% 60% 40% 60%;
        transform: translateX(100px) translateY(100px) scale(1.2);
    }

    100% {
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        transform: translateX(0) translateY(0) scale(1);
    }

}
  
@media (max-width: 768px) {
    .hamburger {
      display: block;
      z-index: 15;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
      position: fixed;
      right: -100%;
      top: 0;
      gap: 48px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #222;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
      width: 100%;
      height: 100dvh;
      text-align: center;
      transition: 0.8s ease-in-out, height 0s;
      z-index: 1;
      touch-action: none;
    }

    body.light-mode .nav-menu {
        background-color: #adcbe3;
    }

    .active {
      right: 0% !important;
    }
    ul li a{
      font-size:24px;
    }

    #intro div, #about div{
        width: 80%;
    }

    .margin-x {
        margin-left: 0px;
        margin-right: 0px;
    }

    #about {
        flex-direction: column;
        align-items: center;
    }

    #about img {
        max-width: 80%;
        margin: 0 0 10% 0;
        height:auto;
    }

    #skills {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        text-align: center;
    }

    #skillsLists {
        margin-top: 20px;
    }

    #skillsWrapper {
        width: 80%;
        flex-direction: column;
    }

    #skills h1 {
        margin-left: 0;
    }

    
    #skillsLists div {
        width: 50%;
        margin: 0 0 20px 0;
    }

    .hideNav {
        top: -100px;
        transition: top 0.3s linear;
    }
    
    .hideFooter {
        bottom: -100px;
        transition: bottom 0.3s linear;
    }

}

@media (max-width: 1200px) {
    #experience, #projects, #education, #courses {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        text-align: center;
    }

    #worksWrapper, #tablesWrapper {
        width: 80%;
        display: flex;
        align-items: center;
    }

    #tablesWrapper {
        margin-top: 10%;
    }

    .tableWrapper {
        width: 100%;
        max-width: none;
    }

    .workWrapper {
        margin: 10% 0 0 0;
        flex-direction: column;
        max-width: 100%;
    }

    .infoWrapper, .workWrapper .imageWorkWrapper {
        max-width: 98%;
        padding: 0 1% 0 1%;
    }

    .workWrapper .imageWorkWrapper {
        margin-bottom: 10px;
    }

    .workWrapper .imageWork {
        border-radius: 4px;
    }

    .workTitleWrapper {
        width: 100%;
    }

    .infoWrapper h2 {
        display: flex;
        flex-wrap: wrap;
    }

    .tableWrapper div {
        flex-direction: column;
    }
    .tableWrapper div :nth-child(1), .tableWrapper div :nth-child(2) {
        padding: 0 0 5px 0;
        border: none;
        width: 100%;
    }

    .tableWrapper div :nth-child(3) {
        padding: 0;
        width: 100%;
    }
}
